@import "tailwindcss";

@theme {
  --font-geist-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

body,
html {
  width: 100%;
  height: 100%;
  font-family: var(--font-inter);
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}